<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    {% load static %}
    <link href="{% static "css/resume.css" %}" rel="stylesheet">
</head>
<body>
<header>
    <div class="base-div">
        <span class="name">xxx</span>
        <span class="direction">求职意向：XXXXX</span>
    </div>

    <div class="detailed-div">
        <ul class="detailed-ul">
            <li>id：{{ acount_id }}</li>
            <li>年龄：xxx岁/li>
            <li>籍贯：xxx</li>
            <li>电话：198xxxxxxxxx</li>
            <li>邮箱：XXXX@xxx.com</li>
        </ul>
    </div>

    <div>
        <span class="text-resume-div">Personal Resume</span>
    </div>
</header>
<div class="Separator-div"></div>
<main>
    <div class="education-div">
        <div class="img-education-div">
            <span class="text-education-span">教育背景</span>
        </div>
        {% for each_edu in edu %}
        <span class="education-time-span">{{ each_edu.start_time }}-{{ each_edu.end_time. }}</span>
        <br/>
        <span class="education-school-span"> {{ each_edu.school_name }}           {{ each_edu.discipline_name }}</span>
        <br/>
        <br/>
        {% endfor %}
    </div>
    <hr/>
    <div class="skll-div">
        <div class="img_circle-skill-div">
            <span class="text-education-span">工作经历</span>
            <div class="img_line-skil-div"></div>
        </div>
        <div class="skill-list-div">
            {% for each_work in work %}
            <b>工作{{ forloop.counter }}：{{ each_work.corporation_name }}</b>
            <div class="div-experience">
                <p><strong>时间：</strong>{{ each_work.start_time }} - {{ h_work.end_time }}</p>
                <p><strong>职位:</strong>{{ each_work.architecture_name }} - {{ each_work.position_name }}</p>
                <p><strong>工作内容:</strong>{{ each_work.responsibilities }}</p>
            </div>
            <br/>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="experience-div">
        <div class="img-experience-div">
            <span class="text-experience-span">项目经验</span>
        </div>
        <div class="img_line-experience-div"></div>
        {% for each_project in project %}
        <div class="experience1-div">
            <b>项目{{ forloop.counter }}：{{ each_project.name }}</b>
            <p><strong>时间：</strong>{{ each_project.start_time }} - {{ each_project.end_time }}</p>
            <p><strong>职位:</strong>{{ each_project.position_name }}</p>
            <p><strong>负责内容:</strong>{{ each_project.responsibilities }}</p>
        </div>
        <br/>
        {% endfor %}

    </div>
</main>
</body>
</html>