<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SR</title>
</head>
<body>
<div class="row">
    <form class="form-signin" action="" method="post">
        {% csrf_token %}
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </form>
</div><!-- /.row -->
</body>
</html>